#book-form {
  margin: 10px;
}

#book-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.book-card {
  white-space: pre-line;
  width: 350px;
  max-width: 350px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px rgb(150, 150, 150);
  display: grid;
  grid-template-rows: 1fr 0.25fr 0.3fr 0.3fr;
}

.book-status {
  margin: 10px 0px;
  height: 20px;
}

.change-status {
  margin: 10px 0px;
  max-width: 30%;
}

.remove-book {
  margin: 10px 0px;
  max-width: 30%;
}

.toggle-visibility {
  display: none;
}